
*.bin

.gradle/1.12/taskArtifacts/cache.properties

.gradle/2.0/taskArtifacts/cache.properties

.gradle/1.12/taskArtifacts/cache.properties.lock

.gradle/2.0/taskArtifacts/cache.properties.lock

*.class

build/libs/RateOfReturnCalculator-1.0.jar

build/tmp/jar/MANIFEST.MF

src/main/.gradle/1.12/taskArtifacts/cache.properties

src/main/.gradle/1.12/taskArtifacts/cache.properties.lock

*.jar

.idea/workspace.xml

build/one-jar-build/doc/one-jar-license.txt

build/one-jar-build/.version

build/one-jar-build/META-INF/MANIFEST.MF

build/tmp/oneJar/MANIFEST.MF
